<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Basketball Team! </h1>
  Team Name: <%= params[:name] %><br/>
  Coach: <%= params[:coach] %><br/>
  Point Guard: <%= params[:pg] %><br/>
  Power Forward: <%= params[:pf] %><br/>
  Shooting Guard: <%= params[:sg] %><br/>
  Small Forward: <%= params[:sf] %><br/>
  Center: <%= params[:c] %><br/>
 </body>
</html>


